<!-- <div class="container">
    <div class="yotei-field">
        <div>
            <p>{{ yotei.name }}</p>
        </div>
        <div>
            <p>{{ yotei.message }}</p>
        </div>
        <div>
            <p>{{ yotei.prefectures }}</p>
        </div>
        <div>
            <p>{{ yotei.access }}</p>
        </div>
    </div>
    <div class="button-row">
        <button mat-raised-button color="primary" (click)="feachKamoto()">ランダム</button>
    </div>
</div> -->
<app-swiper [yotei]="yotei"></app-swiper>